page-main {
  .latar{


  background:
  	linear-gradient(
  		#800020,
  		transparent
  	),
  	linear-gradient(
  		160deg,
  		#800020,
  		transparent
  	),
  	linear-gradient(
  		-10deg,
  		#f5f5f5,
  		transparent
  	);


  background-blend-mode: screen;
       }
}
