<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="mainmenu2">

  <ion-navbar>
    <ion-title>Change66</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <!-- <ion-card-content>
    <ion-card-title>
      Change 66
    </ion-card-title>
  </ion-card-content> -->
    <div class="latar">
    <img src="assets/imgs/logo.png"/>
  </div>
  </ion-card>

  <button ion-button block (click)="goToLogin()">Login</button>
  <button ion-button block (click)="goToSignup()">Sign Up</button>
</ion-content>
