<!--
  Generated template for the NoteconfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>noteconfig</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list radio-group [(ngModel)]="sideList" >
    <ion-list-header>
      Select : {{ sideList }}
    </ion-list-header>
    <ion-item *ngFor="let side of clientSideList">
      <ion-label>{{side.text}}</ion-label>
      <ion-radio [value]="side.text" (click)="setSch(side.value)"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>
      <button ion-button>Select Time</button>
    </ion-label>
    <ion-datetime displayFormat="HH:mm" [(ngModel)]="myDate"></ion-datetime>
  </ion-item>

  <ion-list radio-group [(ngModel)]="weekList">
    <ion-list-header>
      Select : {{ weekList }}
    </ion-list-header>
    <ion-item *ngFor="let week of clientweekList">
      <ion-label>{{week.text}}</ion-label>
      <ion-radio [value]="week.text" (click)="setWeek(week.value)"></ion-radio>
    </ion-item>
  </ion-list>
  <button ion-button (click)="saveNote()">Save</button>
</ion-content>
