<!--
  Generated template for the ModalcompanyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons color="danger" full start>
      <button ion-button  (click)="dismiss(item)">Close</button>
    </ion-buttons>
    <ion-title>Company List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar placeholder="Filter Items" (ionInput)="setItems($event)"></ion-searchbar>
  <ion-item *ngFor="let item of items" (click)="companyClick(item)">
    <h2>{{item.CompanyName}}</h2>
    <p>{{item.CompanyID}}</p>
  </ion-item>
</ion-content>
