<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>

  <ion-item>
    <ion-label floating>First Name</ion-label>
    <ion-input type="text"  [(ngModel)]="reg.firstname"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Last Name</ion-label>
    <ion-input type="text"  [(ngModel)]="reg.lastname"></ion-input>
  </ion-item>


  <ion-item>
    <button ion-button (click)="presentProfileModal()">Select Category</button>
    <br>
    <br>
      Category : {{reg.categori}}
  </ion-item>
  <ion-item>
    <button ion-button (click)="presentCompanyModal()">Select Company</button>
    <br>
    <br>
      Company : {{reg.company}}
  </ion-item>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email" [(ngModel)]="reg.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="reg.password"></ion-input>
  </ion-item>

  <button ion-button block color="primary" (click)="signup()">Signup</button>
</ion-list>
</ion-content>
