page-myscores {
  .blok-g{
    background-color:green;
    height:50px;
    width:3%;
    float: left;
    margin-left: 1px;
    margin-bottom: 5px;
  }

  .blok-r{
    background-color:red;
    height:50px;
    width:3%;
    float: left;
    margin-left: 1px;
    margin-bottom: 5px;
  }

  .clear-s{
    clear: both;
  }
}

.effect5
{
  position: relative;
}
.effect5:before, .effect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.effect5:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}
.paperclip {
    box-sizing: border-box;
    display: block;
    top: 18%;
    left: 97%;
    margin-top: -40px;
    margin-left: -19px;
    height: 80px;
    width: 38px;
    border: 3px groove #DDDDDD;
    border-radius: 0 0 90px 90px;
    border-top: none;
    position: absolute;
    transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -webkit-backface-visibility: hidden;
}
.paperclip::before, .paperclip::after {
    content:'';
    position: absolute;
    border: 3px groove #DDDDDD;
}
.paperclip::before {
    left: 3px;
    height: 50px;
    width: 20px;
    border-radius: 0 0 90px 90px;
    border-top: none;
}
.paperclip::after {
    top: -30px;
    left: -3px;
    height: 30px;
    width: 26px;
    border-radius: 90px 90px 0 0;
    border-bottom: none;
}


.notepaper {

   font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
  width: 100%;
  height: 80%;
  margin: 20px auto;
  position: relative;
  color: #444;
  line-height: 20px;
  border: 1px solid #d2d2d2;
  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}
