<!--
  Generated template for the MyscoresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Scores</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
     <ion-refresher-content
       pullingIcon="arrow-dropdown"
       pullingText="Pull Down."
       refreshingSpinner="circles"
       refreshingText="Loading...">
     </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-content>
      <ion-avatar class="effect5">
        <span class="paperclip"></span>
        <img src="assets/imgs/profile.jpg"/>
      </ion-avatar>
      <ion-list>
        <ion-item style=" text-align: center;">
            {{userName.FirstName}} {{userName.LastName}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item *ngFor="let sch of datasch" style="background:#9E9E9E" class="notepaper">
        <h2 style="white-space: normal;">{{sch.TItle}}</h2>
        <div *ngFor="let schdet of sch.detail">
          <div (click)="showConfirm(schdet,sch.Note)">
            <div class="blok-g" *ngIf="schdet.yes == 1"></div>
            <div class="blok-r" *ngIf="schdet.yes == 0"></div>
          </div>
        </div>

        <div class="clear-s"></div>

        <h2>{{sch.Note}}</h2>

      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
