<!--
  Generated template for the ModalpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons color="danger" full start>
      <button ion-button  (click)="dismiss(item)">Close</button>
    </ion-buttons>
    <ion-title>modalpage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-searchbar [(ngModel)]="searchQuery" (input)="getItems($event)" placeholder="Filter by text"></ion-searchbar> -->
<ion-searchbar placeholder="Filter Items" (ionInput)="filterItems($event)"></ion-searchbar>
  <ion-list>
  <ion-item *ngFor="let item of items" (click)="catagori(item)">
    <!-- {{ item }} -->
    <h2>{{item.kategori}}</h2>
    <p>{{item.role}}</p>
  </ion-item>
</ion-list>



<!-- <button class="button button-calm" modal-select="" ng-model="someObjModelcat" options="selectableNamescat" has-search="true" on-select="shoutLoudcat(newValue, oldValue)">
  Select Category
  <div class="option">
    <h2>{{item.name}}</h2>
    <p>{{item.name}}</p>
  </div>
</button> -->
</ion-content>
