<!--
  Generated template for the MynotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Notes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
     <ion-refresher-content
       pullingIcon="arrow-dropdown"
       pullingText="Pull Down."
       refreshingSpinner="circles"
       refreshingText="Loading...">
     </ion-refresher-content>
  </ion-refresher>
  <ion-card class="effect5">
    <ion-card-content>
      <ion-avatar>
        <img src="assets/imgs/profile.jpg"/>
      </ion-avatar>
      <ion-list>
        <ion-item style=" text-align: center;">
      {{userName.FirstName}} {{userName.LastName}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content >
      <ion-item *ngFor="let item of items" class="bayang2">
        <h2 style="white-space: normal;">{{item.Date}}</h2>
        <p>{{item.NodeName}}</p>
        <button ion-button icon-left (click)="presentConfigNote(item)">Config</button>
        <h2>{{item.Note}}</h2>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
