<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card class="attribute">
    <ion-card-content>
  <ion-avatar>
    <!-- <ion-img src="assets/imgs/profile.jpg"/></ion-img> -->
    <img style="width: 100%" src="{{random}}"><img>
  </ion-avatar>
      </ion-card-content>
      <ion-card-content>
        <button ion-button (click)="editProfile()">Edit Profile</button>
        <ion-list>
          <ion-item class="item">
            Firstname  <span style="display:inline-block; width: 27px"></span> : <span style="display:inline-block; width: 10px"></span><span style="white-space: normal">{{items.FirstName}}</span>
            <br>
            Lastname    <span style="display:inline-block; width: 30px"></span>: <span style="display:inline-block; width: 10px"></span> {{items.LastName}}
            <br>
            Email       <span style="display:inline-block; width: 60px"></span>: <span style="display:inline-block; width: 11px"></span> {{userSearch.email}}
            <br>
            Phone      <span style="display:inline-block; width: 49px"></span> : <span style="display:inline-block; width: 10px"></span> {{items.Phone}}
            <br>
            Gender      <span style="display:inline-block; width: 47px"></span>: <span style="display:inline-block; width: 10px"></span> {{items.Gender}}
            <br>
            Company     <span style="display:inline-block; width: 29px"></span>: <span style="display:inline-block; width: 10px"></span> {{items.CompanyName}}
          </ion-item>
        </ion-list>
        </ion-card-content>
  </ion-card>
</ion-content>
