page-home {
  .attribute{

      height: auto;
      line-height: 23px;
      color: #333;
      background-color: #f8f8f8;
      border-radius: 3px;
      padding: 4px;
      margin-bottom:10px;
  }
  .item{
  	line-height:2;
  }
}
