<!--
  Generated template for the EditpicturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>editpicture</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img [src]="DomSanitizer.bypassSecurityTrustUrl(lastImage)" style="width: 100%" *ngIf="lastImage"/>
  <!-- <img [hidden]="lastImage !== null" style="width: 100%" src="http://wisehouse.no/internett1/filefoto/{{userdata}}/Profile.jpg"> -->
</ion-content>
 
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons>
      <button ion-button icon-left (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Select Image
      </button>
      <button ion-button icon-left (click)="uploadImage()" [disabled]="lastImage === null">
        <ion-icon name="cloud-upload"></ion-icon>Upload
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
