<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Setting Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card class="attribute">
    <ion-card-content>
  <ion-avatar>
    <img src="assets/imgs/profile.jpg"/>
  </ion-avatar>
      </ion-card-content>
      <ion-card-content>
        <button ion-button (click)="saveProfile()">Save Profile</button>
        <button ion-button (click)="editPhoto()">Edit Picture</button>
      </ion-card-content>
      <ion-card-content>
        <ion-list>
            <ion-item>
              <ion-label color="primary" fixed>First Name</ion-label>
              <ion-input type="text" [(ngModel)]="update.FirstName"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="primary" fixed>Last Name</ion-label>
              <ion-input type="text" [(ngModel)]="update.LastName"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="primary" fixed>Phone</ion-label>
              <ion-input type="text" [(ngModel)]="update.Phone"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="primary" fixed>Gender </ion-label>
              <ion-input type="text" [(ngModel)]="update.Gender"></ion-input>
            </ion-item>

            <ion-item (click)="presentCompanyModal()">
              <ion-label color="primary" fixed>Company</ion-label>
              <ion-textarea type="text" [(ngModel)]="update.CompanyName"></ion-textarea>
              <!-- <button ion-button (click)="presentCompanyModal()">{{reg.company}}</button> -->
            </ion-item>
        </ion-list>
      </ion-card-content>
  </ion-card>
</ion-content>
